<style>
body{

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
}
header{
    text-align: center;
}
h1,h2{
    font-family: Georgia, serif;
}
h1{
    font-size: 3em;
}
fieldset{
    margin: 1em auto;
}
legend{
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}
label{
    
    font-weight: bold;
    display: block;
}
input:focus,select:focus{
    background-color: rgba(255, 255, 0, 0.637);
}
input:hover,select:hover{
    background-color: rgba(255, 0, 0, 0.63);
}
#boton-crear{
    font-size: 2em;
    padding: 25px ;

}
.inline{
    display: inline;
}
.centrado{
    text-align: center;
}

    
    


    
