table{
    width: 80%;
    border-collapse: collapse;
}
 caption{
    font-size: 14px;
    color: #4682b4; ;
 }
 thead{
    font-size: 14px;
    background-color: #1E90FF;
    font-weight: bold;
    color: #fff;
 }
 th,td{
    border: 1px solid black;
    padding: 5px;
 }